.linkContainer {
    margin-top: 5em;
    margin: 0 auto;
    width: 75%;
    margin-top: 3.5em;
    font-size: 1.4em;
    padding-top: 1em;
    
    border: 1px red solid;
}

@media (min-width: 28em) {
    .linkContainer {
    margin: 0 auto;
    margin-top: 2em;
    padding: 10px;
    padding-top:40px;
    min-height: 150px;
   
    }
}

@media (min-width: 55em) {
    .linkContainer {
    display: flex;
    justify-content: space-around; 
    width: 80%;     
    padding-top: 5em;
    }
}

.link {
  outline: none;
  color: white;
  border: 0;
  background-color: #195de6; 
  text-decoration: none;
  text-align: center;
  display: block;
  min-height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}
.link:hover {
  background-color: #1f4ead;
}
.link:active {
  background-color: #153779;
}

@media (min-width: 28em) {
    .link {
        margin: 10px;
        font-size: 2.0em;    
        line-height: 150px;
        margin-bottom: 25px;
        min-height: 150px;
        line-height: 150px;
    }
}

@media (min-width: 55em) {
    .link {
    min-height: 250px;
    line-height: 250px;
    margin: 2em;
    flex: 1 20%;
    margin: 0;
    margin-right: 10px;
    }
}