.title{
    position: fixed;
    top: 0;
    left: 0;
    color: #fa0;
    font-size: 8vw;
    font-weight: bold;
}

@media (min-width: 28em) {
    .title {
    font-size: 5.6vw; 
    }
}

@media (min-width: 45em) {
    .title {
    font-size: 4vw; 
    }
}